.employeePage-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
@media screen and (max-width: 768px) {
  .employeePage-container {
    flex-direction: column;
    align-items: center;
  }
}
/* Employee View Meter Reading */
.employeeView-meterReading{
  position: absolute;
  top: 150px;
  height: 450px;
  margin-left: 200px;
  width: 85%;
  padding: 40px;
  padding-right: 0px;
}
@media(max-width:768px){
  .employeeView-meterReading{
    position: absolute;
    top: 150px;
    height: 450px;
    width: 65%;
  }
}
/* Hourly Upload */
.hourly-upload-container {
  position: absolute;
  top: 80px;
  width: 80%;
  padding: 40px;
  margin-left: 500px;
}
@media screen and (max-width: 768px) {
  .hourly-upload-container {
    position: absolute;
    top: unset;
    height: unset;
    width: 100%;
    padding: 20px;
    text-align: center;

  }
  .hourly-upload-label {
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
  }
}