/* .App {
  text-align: center;
} */

.profile-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  margin-right: 20px;
}

.button-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
}

.button-wrapper button {
  margin: 10px;
}

@media screen and (max-width: 768px) {
  .profile-wrapper {
    justify-content: end;
  }

  .button-wrapper {
    flex-direction: row;
  }

  .button-wrapper button {
    margin: 10px 5px;
  }
}




